@font-face {
    font-family: Bilgres;
    src: url("../recursos/Bilgres\ DEMO.otf");
}
$blanco : linear-gradient(180deg, rgba(255, 255, 255, 1) 16%, rgba(190, 188, 185, 1) 100%);
$negro : black ; 

@import "./recursos/reset";
@import "./secciones/main-index";
@import "./secciones/main-contacto";
@import "./secciones/main-nosotros";
@import "./secciones/main-galeria";
@import "./secciones/main-productos";
@import "./secciones/footer";
@import "./secciones/header";




.boton {
    color: $negro;
    background-color: white;

    &:hover {
        background-color: $negro;
        color: white;
        transform: scale(1.1);
        transition: 0.9s;
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
