ul li a {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}
ul {
    list-style: none
}
.logo {
    width: 50px;
}
header nav{
    background:radial-gradient(black, #24262b);
}

